@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');  
html, body{
  font-family: 'Lato', sans-serif;
}
$midnight-blue: #004384;
$dark-midnight-blue: #003e5f;
$blue-green: #1593a5;
$cornflower: #96cfea;
$light: #cfd8dc;
$charcoal: #263238;
$box-padding: 1.5rem;

.midnight-blue {
  background-color: $midnight-blue !important;
}
.dark-midnight-blue {
  background-color: $dark-midnight-blue !important;
}
.blue-green {
  background-color: $blue-green !important;
}
.cornflower {
  background-color: $cornflower !important;
}

// SCROLL CUSTOM
::-webkit-scrollbar {
  width: 5px; /* Tamaño del scroll en vertical */
  height: 5px; /* Tamaño del scroll en horizontal */
  background-color: $charcoal;
  // display: none;  /* Ocultar scroll */
}
::-webkit-scrollbar-thumb {
  background: $light;
  border-radius: 3px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
  background: $light;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
  background-color: $light;
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
.container::-webkit-scrollbar-track {
  background: $charcoal;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.container::-webkit-scrollbar-track:hover,
.container::-webkit-scrollbar-track:active {
  background: $charcoal;
}

.brand-logo {
  @media (min-width: 992px) {
    margin-left: 1.5rem;
  }
}

.img {
  width: 100%;
}

.valor {
  display: grid;
  gap: 10px;
  @media (max-width: 600px) {
    grid-template-columns: repeat(1 1fr);
  }
  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }
}
.valor-margin {
  margin: auto 10px !important;
}
.image-valor-margin {
  margin: auto;
}
nav ul a {
  color: black !important;
}
.construction {
  height: calc(100vh - 64px);
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.img-construction {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 600px) {
  .ord-1 {
    order: 1;
  }
  .ord-2 {
    order: 2;
  }
}
.services-section {
  // background: rgb(2, 0, 36);
  // background: linear-gradient(
  //   360deg,
  //   rgba(2, 0, 36, 1) 0%,
  //   rgba(1, 50, 107, 1) 70%,
  //   rgba(0, 67, 132, 1) 100%,
  //   rgba(0, 62, 95, 1) 100%
  // );
  background-attachment: fixed;
  min-height: 100vh;
  padding-bottom: 5rem;
}
.flex-cont {
  display: grid;
  gap: 2rem;
  padding-top: 5rem;
  .box-content {
    padding: $box-padding 1rem $box-padding $box-padding;
    background: linear-gradient(
      hsl(0 0% 0% /0),
      hsl(20 0% 0% /0.5) 30%,
      hsl(0 0% 0% /1)
    );
    // transform: translateY(78%);
  }
  @media (max-width:670px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (min-width:670px) and (max-width:1390px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width:1390px) {
    grid-template-columns: repeat(3, 1fr);
  }
  .box {
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 3rem 0 0;
    max-width: 35ch;
    overflow-y: hidden;
    border-radius: 0.5rem;
    transition: transform 500ms ease;
    margin-left: auto;
    margin-right: auto;
    &:hover {
      transform: scale(1.1);
      .box-title::after {
        transform: scaleX(1);
      }
      .box-content {
        transform: translateY(0);
      }
    }
    .box-title {
      position: relative;
      width: max-content;
      max-width: 100%;
      padding-bottom: 0.1rem;
      &::after {
        content: "";
        position: absolute;
        height: 3px;
        background: $midnight-blue;
        width: calc(100% + $box-padding);
        left: calc($box-padding * -1);
        bottom: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 500ms ease;
      }
    }
    .box-body {
      overflow-y: scroll;
      display: -webkit-box;
      -webkit-line-clamp: 10; /* number of lines to show */
      line-clamp: 10;
      -webkit-box-orient: vertical;
    }
  }
  &.services{
    .box1 {
      background-image: url("https://www.upiic.ipn.mx/assets/files/upiic/img//ProgramaAcademico/sistema-mecanico.jpg");
    }
    .box2 {
      background-image: url("https://www.autycom.com/wp-content/uploads/2019/06/programacion-plc-2.jpg");
    }
    .box3 {
      background-image: url("https://www.infoplc.net/media/k2/items/cache/ca0ff09b709c98bdffbae155a7b69d0b_XL.jpg");
    }
    .box4 {
      background-image: url("https://isk.com.mx/wp-content/uploads/2019/11/CONSTRUCCION-DE-TABLEROS-ELECTRICOS.jpeg");
    }
    .box5 {
      background-image: url("https://www.cablesyconectoreshoy.com/imagenes/2016/03/Brady-labelled-cables.jpg");
    }
    .box6 {
      background-image: url("https://img77.uenicdn.com/image/upload/v1592563639/business/d204f992-6676-48eb-978e-1476687420cf.jpg");
    }
    .box7 {
      background-image: url("https://concepto.de/wp-content/uploads/2021/06/mantenimiento-correctivo-preventivo-e1622737424937.jpg");
    }
  }
  &.proyects{
    .box1 {
      background-image: url("https://images.pexels.com/photos/2760242/pexels-photo-2760242.jpeg");
    }
    .box2 {
      background-image: url("https://images.pexels.com/photos/2569839/pexels-photo-2569839.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    .box3 {
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/19/Libro-sistemas-scada-3ra-ed-mecatronica-automatizacion-22680-MLM20234441553_012015-F.jpg");
    }
    .box4 {
      background-image: url("https://images.pexels.com/photos/1334644/pexels-photo-1334644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    .box5 {
      background-image: url("https://images.pexels.com/photos/7663138/pexels-photo-7663138.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
  }
}

.cs-ul {
  padding-left: 2rem !important;
  list-style-type: disc !important;
  li {
    list-style-type: circle !important ;
  }
}
.products{
  .card{
    span.card-title.activator{
      min-height: 64px;
      i{
        position: absolute;
      }
    }
  }
}
.fs3{
  font-size: 1.5rem;
}
.f-left{
  float: left
}
.fa-solid{
  font-size: 1.2rem;
  @media (max-width: 992px) {
    color: white !important;
  }
}
.fa-solid.fa-caret-down{
  margin-right: 7px
}
.dropdown-content li > a > i, .sidenav li > a > i {
  margin: 0 !important;
}
#sectors-dropdown{
  width: max-content !important;
}
@media only screen and (max-width: 992px){
  nav .brand-logo{
    margin-top: 0.4rem;
  }
}

@import "node_modules/materialize-css/sass/materialize.scss";
